.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 10vh;
}
.logo {
  height: 40px;
  width: 100px;
}
.button {
  background-color: transparent;
  padding: 10px;
  color: white;
  font-family:roboto ;
  border: 1px solid #f8fafc;
}
